.root {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url("../../assets/images/OkeyBackground.jpg");
  background-size: cover;

}

.gameContainer {
  min-width: 919px;
  max-width: 919px;
}
