.root {
    width: 200px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    border: 5px solid grey;
    color: coral;
    background-color: darkolivegreen;
    border-radius: 12px;
    font-weight: 600;
}
